@charset "UTF-8";
div,p,body,header,footer,section,article,nav 
{ 
  /*! margin: 0; */ 
  padding: 0; 
} 

img 
{ 
  border: none;/
  margin: 0; 
  padding: 0; 
}


body 
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  
  
}

a:link, a:visited 
{ 
  text-decoration:none;   
}

a:hover, a:active 
{ 
  text-decoration:none; 
}
body {

	margin: 0;
	padding: 0;
}

.search-box {
	position: absolute;
	top: 13%;
	right: 10%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.search-box:hover > .search-txt{
	width: 240px;
	padding: 0px;
	
}
.search-box:hover > .search-btn{
	background: white;
	
}
.search-btn {
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 14px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;

}
.hidden {
  display: none;
}
#siteContainer 
{
  justify-content:flex-start;
}
#mainheader {
	background-color: #CCCCCC;
}

#mainheader img {
	height: 250px;
	width: 250px;
	display: block;
    margin: 0 auto;
	padding-bottom: 20px;
}
.nav-area {
	width: 220px;
	list-style: none;
	padding-top: 0px;
	display: inline-block;


}
.nav-area h3 {
	text-align: center;
	padding-top: 15px;
	color: #fff;
}
.nav-area li{
	border-radius: 4px;
	margin-top: 5px;
	width: 150px;
	background: #C1272D;
	height: 50px;


}
.nav-area li a {
	align-content: space-between;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
	color: #fff;
	display: block;
	padding: 10px;
	text-decoration: none;
	font-family: 'Bree Serif', serif;
}
.nav-area li a:hover {
	color: #000;
}
.nav-area li.effect {
	transform: all 0.5s ease-in-out;
}
.nav-area li.effect:hover {
	transform: translateX(25px);
}
#content {
	justify-content: center;
}
#content img.center {
	display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#ourbeer {

  line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
}

#footerNav {
	align-content: space-between;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 40px;
	background-color: #CCCCCC;
	font-family: 'Bree Serif', serif;
	font-size: 15px;
}
#footerNav img {
	height: 100px;
	width: 100px;
	padding-top: 30px;
	padding-left: 30px;
}
.bottomNav {
	text-align: left;
} 

width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""